.App{
    width:100%;
    min-height:100vh;
    height:100%;
    background:url("https://images.pexels.com/photos/1018136/pexels-photo-1018136.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500https://images.pexels.com/photos/1018136/pexels-photo-1018136.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size:cover;
}